# Django settings
DJANGO_SECRET_KEY="your-super-secret-key"
DEBUG="True"
ALLOWED_HOSTS="127.0.0.1,localhost"

# Database settings - for production (e.g., Neon)
# DATABASE_URL="postgres://user:password@host:port/dbname?sslmode=require"
