# Django settings
DJANGO_SECRET_KEY="your-super-secret-key"
DEBUG="True"
ALLOWED_HOSTS="https://jules-payton.onrender.com"

# Database settings - for production (e.g., Neon)
DATABASE_URL="postgresql://neondb_owner:npg_WPezUmp8otb0@ep-wild-paper-adkwv7dc-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
